<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{asset('public/css/bootstrap.min.css')}}" />
        {% endblock %}
        {% block javascripts %}
          <script src="{{asset('public/js/jquery-3.3.1.min.js')}}"></script>
          <script src="{{asset('public/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </head>
    <body>
      {% for message in app.flashes('error') %}
          <div class="alert alert-danger" role="alert">
              {{ message }}
          </div>
      {% endfor %}
      {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
{% endfor %}
      {% block body %}{% endblock %}

    </body>
</html>
